.page section {
  display: flex;
  flex-direction: row;
  font-size: 14px;
  background: #e6e6fa !important;
  width: 70% !important;
  margin-left: 180px !important;
  padding: 20px !important;
}
.page section > * {
  max-width: 300px;

  margin: 0 10px;
  padding: 0 10px;
  width: 300px;
  position: relative;
}

/* .page section .appRouter {
  background: rgba(230, 230, 250);
} */
.page section .appRouter:before {
  content: "uses async component";
  position: absolute;
  right: 0;
  top: -20px;
  font-variant: small-caps;
}
